  :root{
    --clr-primary: #ADD8E6;
    --clrrsecondary: #ff9900;
    --clr-third: #B291EB; 
    --clr-fourth: #FEBCFD;
     --txt-clrp: #FFF702;
     --txt-clrs: #7AF52B; 
     --ff-primary:'Urbanist',sans-serif;
     --ff-secondary: 'Raleway', sans-serif
}

h1 { 
    font-family: var(--ff-primary);
    font-weight:200;
    font-size:100pt;
}
body{
    margin-top: 10px;
    background-color: var(--txt-clrs);
    padding:0;
    margin:0;
}
.beginning{
    align-self: center;
    text-align: center;
}
#nameTitle{
    margin: 5px;
}
#nameDescription{
    font-family: var(--ff-primary);
    font-size: 20pt;
    font-weight: 200;
}
.photoText{
 display: flex;
 margin-left: 75px;
 margin-right: 75px;
 margin-bottom: 75px;
}
#self{
    display: block;
    width:50%;
    float:left;
}
#selfText{
    display: block;
    width:50%;
    float:right;
    padding-top: 100px;
    text-align: center;
    font-size: 25pt;
    font-family: var(--ff-secondary);
    font-weight: 300;
    padding: left 75px right 75px;

}

.myself {
    display: flex;
    background-color: var(--clr-primary);
}
  
.myselfBox {
    width: 500px;    
    padding: 10px;
    text-align: center; 
}
  
  .myselfBox img {
    height: 300px; 
    object-fit: cover;
  }
  
  .myselfBox h3{
    font-family: var(-ff secondary);
    font-weight:500;
    font-size: 20pt;
    color:var(--clr-third);

  }

.myselfbox p{
    font-family: var(--ff-secondary);
    font-weight: 400;
    color: var(--txt-clrs)
}
.quote{
       
}

